# van tus keys de supabase, tanto para el cliente como para el servidor. No olvides crear un archivo .env.local y agregar estas variables con tus valores correspondientes.
# tienes que escribir la misma url y key tanto en expo_public como en external. (si usaras diferentes, el cliente no podría comunicarse con el servidor y viceversa)
EXPO_PUBLIC_SUPABASE_URL=
EXPO_PUBLIC_SUPABASE_ANON_KEY=
EXTERNAL_SUPABASE_URL=
EXTERNAL_SUPABASE_ANON_KEY=
