# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

#db
db/

# IDEs and editors
.vscode/
.idea/
.cloud/
.github/
*.code-workspace
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo



# generated native folders
/ios
/android
skills-lock.json
.agents/
package-lock.json
